<%= form_for :page, "#", [phx_change: "save"], fn f -> %>
  <%= textarea f, :content, phx_debounce: 1_000, value: @page.content,
        data_pending_val: @page.content, phx_hook: "PageTextArea", class: "main-textarea" %>
<% end %>